matplotlib
numpy
matplotlib
numpy
altair
bokeh
folium
ipywidgets
jupytext
matplotlib
nbclient
numpy>=2
pandas
plotly
sphinx-click
sphinx-examples
sphinx_inline_tabs
sphinx-proof
sphinxext-rediraffe~=0.2.3
sympy
jupyter-book
sphinx-click
sphinx-inline-tabs
sphinxext-rediraffe
sphinx-proof
sphinx-examples
sphinx-togglebutton
sphinx-design
sphinx-copybutton
sphinx-hoverxref
sphinx-autobuild
statsmodels
sphinx_sitemap